@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

:root {
    /* Primary Color */
    --primary-color: #048E7B;
  
    --background-color : #023931 ;
  
    /* Background */
    --white-color: #ffffff; 
  
    /* Accent Gray */
    --heading-text: #000;
  
    /* Text and Secondary Elements */
    --text-color: #333;
  
    /* Divider Lines */
  }
  
  
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 1.8rem;
    line-height: 1.6;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

  .bg-header{
    background-color: var(--background-color);
  }

  nav{
    height: 9rem;
  }

  .navbar-brand{
    font-size: 2.4rem;
  }

  .nav-link:link , .nav-link:visited {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-block;
  }

  .nav-link:hover , .nav-link:active{
    color: var(--primary-color);
  }
  
  .nav-link.cta {
    background-color: #048E7B;
    display: inline-block;
    padding: 0.5rem 2rem !important;
    border-radius: 4px;
  }

  .nav-link.cta:hover{
    background-color: #0e2420;
    color: #fff;
   }
   h1 {
    font-size: 5.2rem;
    letter-spacing: -0.4px;
    line-height: 1.2;
  }
  
  h2{
    font-size: 4.4rem;
    line-height: 1.3;
  }
  
  .hero-section{
    padding: 3.2rem 0;
  }
   .hero-section p{
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 0.3px;
  }
  
  
  .btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 24px;
    font-size: 1.8rem;
    border-radius: 4px;
  }
  
  .hero-img{
    width: 90%;
  }

  .card-title{
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .card-text{
    font-size: 1.6rem;
    color: #777;
  }

  .how-it-works-title{
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }
  
  .how-it-works-text{
    font-size: 1.8rem;
    color: #333;
    line-height: 1.7;
  }
  
  .icon{
    width: 1.8rem;
    height: 1.8rem;
    padding: 1.2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    margin-bottom: 1.6rem;
  }
  
  .how-it-works{
    padding: 2.4rem 0;
  }

  .testimonials{
    padding: 5rem 0;
    background-color: var(--background-color);
  }
  
  .testimonial-text {
    color: #048E7B;
  }
  
  .testimonials-name{
    color: #048E7B;
  }
  
  .testimonial-card{
    width: 50%;
  }
  h3{
    font-size: 2.4rem;
  }
  
  
  
   span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: white;
  }
  
  /* change hamburger button border color */
   button.navbar-toggler {
    border-color: #fff;
  }
/* change navbar background on collapse */
@media (max-width: 982px) {
    nav .navbar-nav {
      background-color: #048e7c74;
      padding: 2rem;
      backdrop-filter: blur(5px);
    }
  
    .hero-section{
      text-align: center;
    }
    h1{
      font-size: 4rem;
      margin-bottom: 1rem;
    }
  }
  .navbar-brand:hover{
    color: #048E7B ;
  }
  
  
  .copyright{
    font-size: 1.4rem;
    color: #777;
  }